@import "../../styles/mixins";
.pageNotReady{
    padding: 400px 18px;
    @include flex-center(row)
}
.pageNotReady h2{
    font-size: 40px;
    text-transform: capitalize;
}
@media only screen and (max-width: 768px) {
    .pageNotReady h2{
        font-size: 26px;
        text-transform: capitalize;
    }
    .pageNotReady{
        padding: 200px 18px;
    }
}