@import "../../styles/mixins";
@import "../../global.scss";

.roomsCon{
    padding: 60px 0px;
    display: grid;
    // align-items: center;
    grid-template-columns: 1fr 1fr;
}
.roomImg{
    width: 100%;
    background-position: center;
    background-size: cover;
}
.roomImg img{
    width: 100%;
    height: 100%;
}
.rooms{
    padding: 30px 40px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
    text-align: left;

}
.wlcHedin{
    @include flex-left(column);
    position: relative;
}
.room1 .wlcHedin span{
    font-size: 70px;
    line-height: 44px;
    font-stretch:expanded;
    text-align: left;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.456);

}
.room1 .wlcHedin h2{
    position: absolute;
    bottom: -14px;
    font-size: 20px;
    font-weight: 600;
    font-stretch:expanded;
    text-transform: capitalize;
    color: $main-color;

}
.room2 .wlcHedin span{
    font-size: 70px;
    line-height: 44px;
    font-stretch:expanded;
    text-align: left;
    font-weight: 400;
    color: rgba(184, 175, 175, 0.139);

}
.room2 .wlcHedin h2{
    position: absolute;
    bottom: -14px;
    font-size: 20px;
    font-weight: 600;
    font-stretch:expanded;
    text-transform: capitalize;
    color: white;

}
.rooms > p{
    margin-top: 30px;
}
.room1 .rooms p{
    font-size: 16px;
    color: rgb(22, 1, 22);
}
.room2 .rooms p{
    font-size: 16px;
    color: rgb(244, 243, 244);
}
.details{
    margin: 15px 0;
}
.detailsList{
    display: flex;
    align-items: center;
    gap: 16px;
}
.detailsList span{
    color: $main2-color;
    font-size: 20px;
}
.bookins{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.price{
    white-space: nowrap;
    display: flex;
    align-items: flex-end;
}
.price span{
    display: flex;
    align-items: center;
    line-height: 0px;
    font-size: 28px; 
    font-weight: 500;
    color: $main2-color;
}
.room1{
    background: rgb(230, 224, 224);
    @include flex-center(column)
}
.room2{
    background: rgb(34, 0, 34);
    color: azure !important;
    @include flex-center(column)

}

@media (max-width: 768px) {
    .roomsCon {
        grid-template-columns: 1fr; /* On smaller screens, display one column */
    }
    .room1 .wlcHedin span{
        font-size: 40px;
        line-height: 34px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.456);
    
    }
    .room1 .wlcHedin h2{
        bottom: -14px;
        font-size: 18px;
        font-weight: 600;
    
    }
    .room2 .wlcHedin span{
        font-size: 40px;
        line-height: 34px;
        text-align: left;
        font-weight: 400;
    
    }
    .room2 .wlcHedin h2{
        bottom: -14px;
        font-size: 18px;
        font-weight: 600;
    
    }
    .room1 .rooms p{
        font-size: 15px;
        color: rgb(22, 1, 22);
    }
    .room2 .rooms p{
        font-size: 15px;
        color: rgb(244, 243, 244);
    }
    .roomImg{
        width: 100vw;
    }
}